{% extends "layout.html" %}
{% block body %}
  <h2>Sing Up</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('factorize') }}" method=post>
    <dl>
      <dt>Number:
      <dd><input type=text name=number>
      <dd><input type=submit value=factorize>
    </dl>
  </form>
    {% if ans %}
        <p class=error><strong>Answer: </strong> {{ ans }}
    {% endif %}
{% endblock %}