{% extends "layout.html" %}
{% block body %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="application/javascript">
    $(document).ready(function(){
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/pingsc');
        socket.emit("connect");
        socket.on('pingData', function(msg) {
            $('#result').append('<p>Received: ' + msg.data + '</p>');
        });
        $('form#pingForm').submit(function(event) {
            socket.emit('ping', {host: $('#host').val(), params: $('#params').val()});
            return false;
        });
    });
    </script>
  <h2>Sing Up</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <form id="pingForm" >
    <dl>
        <dt>Ping</dt>
        <dd><input type=text name="ip" id="host"></dd>
        <dt>With params</dt>
        <dd><input type=text name="params" id="params"></dd>
        <dd><input type=submit value=ping></dd>
    </dl>
    </form>
    <div id="result"></div>

{% endblock %}