{% extends "layout.html" %}
{% block body %}
  <h2>Sing Up</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('singup') }}" method=post>
    <dl>
      <dt>Username:
      <dd><input type=text name=username>
      <dt>Password:
      <dd><input type=password name=pass>
      <dd><input type=submit value=singup>
    </dl>
  </form>
  <h2>Sing Up sha method</h2>
  <form action="{{ url_for('singup_sha') }}" method=post>
    <dl>
      <dt>Username:
      <dd><input type=text name=username>
      <dt>Password:
      <dd><input type=password name=pass>
      <dd><input type=submit value=singup>
    </dl>
  </form>
{% endblock %}