{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
      Use predefined input
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Key:
        <dd><input type=text size=30 name=key>
        <dt>Value:
        <dd><textarea name=value rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
      Or use raw connection to database
       <form action="{{ url_for('raw_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Query:
        <dd><textarea name=query rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
          {% if session.hasresult %}
              <br>
              <h2> Results:</h2>
              {% for res in result %}
                {{ res }} <br> <br>
              {% endfor %}
          {% endif %}
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for entry in entries %}
    <li><h2>{{ entry.key }}</h2>{{ entry.value }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}